
.vs/*
__Compile/*
*.exp
*.ilk
Bin/*
Lib/win32/Abstruct/*
Lib/win32/Base/*
Lib/win32/Excel/*
Lib/win32/GBStack/*
Lib/win32/HostIPC/*
Lib/win32/HTTP/*
Lib/win32/JSON/*
Lib/win32/Log/*
Lib/win32/mqtt/*
Lib/win32/Network/*
Lib/win32/RTSPClient/*
Lib/win32/SIPStack/*
Lib/win32/sqlite3/*
Lib/win32/XML/*
Lib/win32/zip/*
