
cpp/public/.vs/Solution_2012/v15/Browse.VC.db
cpp/public/.vs/Solution_2012/v15/Browse.VC.opendb
cpp/public/.vs/Solution_2012/v15/Solution.VC.db
cpp/public/.vs/Solution_2012/v15/Solution.VC.db-shm
cpp/public/.vs/Solution_2012/v15/Solution.VC.db-wal
